:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body {
  margin: 0;
  min-height: 100%;
  min-width: 250px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
}

div {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: var(--system-ui);
}

main {
  height: 100%;
  color: black;
}

header,
footer {
  background-color: #1f2937;
  display: flex;
}

header {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  padding: 10px 80px 100px;
}

footer {
  flex: 1 0 auto;
  height: 60px;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
}

button:active {
  scale: 0.9;
}

button:hover {
  background-color: #3869b7 !important;
}

#current-year {
  margin-left: 0.3rem;
}

#github-link-img {
  height: 1.2rem;
  margin-left: 0.3rem;
}

.header-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header-logo {
  flex: 1;
  font-size: 1.5rem;
}

.nav-items {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.header-greeting {
  flex: 1;
}
.header-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.nav-items a {
  color: inherit;
  text-decoration: none;
}

.nav-items a:hover {
  scale: 1.1;
}

.header-row:first-child {
  /* targets the first header row */
  margin-top: 10px;
  margin-bottom: 60px;
  gap: 20px;
}

.header-row:nth-child(2) {
  /* targets the second header row */
  gap: 20px;
}

.header-row button {
  border: none;
  border-radius: 5px;
  background-color: #3882f6;
  color: inherit;
  padding: 5px 15px;
  margin-top: 10px;
}

.main-1 {
  padding: 35px 15px 100px;
  background-color: white;
  text-align: center;
}

.main-1 h1 {
  margin-bottom: 35px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.image-group {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100px;
}
.image-group-2 {
  display: flex;
  gap: inherit;
}

.images * {
  display: flex;
  justify-content: center;
}

.sample-image {
  border: 2px blue solid;
  border-radius: 10px;
  flex: 1 0 auto;
  min-height: 100px;
  min-width: 100px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.image-group div:nth-child(2) {
  font-size: 0.8rem;
}

.main-2 {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 25% 100px;
  overflow: auto;
  font-size: 1.2rem;
}

.quote {
  font-style: italic;
  font-weight: lighter;
  width: 100%;
  min-height: min-content;
  text-align: justify;
}

.quote-attribution {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-weight: bold;
}

.main-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  color: white;
}
.call-to-action {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 30px 60px;
  margin: 0 10px;
  font-size: 1.2rem;
}

.call-to-action-group {
  flex: 3;
}

.info {
  font-size: 0.8rem;
  margin-top: 5px;
}
.button {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button button {
  border: 2px solid white;
  border-radius: 5px;
  background-color: #3882f6;
  color: inherit;
  padding: 5px 15px;
}

@media (max-width: 850px) {
  .header-row:nth-child(2) {
    /* targets the second header row */
    flex-direction: column;
  }
}

@media (max-width: 950px) {
  .header-row:nth-child(1) {
    /* targets the second header row */
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-items {
    flex-direction: column;
    gap: 5px;
  }
  header {
    padding: 10px 40px 100px;
  }
}
